@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    // Hintergrund
    // --c-bg: #ffdfbb;
    // Button Farbe
    // --c-brand: #dc6300;
    // Button Farbe (Hover)
    // --c-brand-light: #ff7300;
}

.hero img {
    max-height: auto;
}