<template>
  <div class="footer">
    <div v-if="copyright">Copyright &copy; {{ year }} - {{ productName }}</div>
    <div class="footer-links">
      <span v-if="impress"
        ><a :href="`${basePath}/impressum`" alt="Impressum">Impressum</a></span
      >
      <span v-if="privacy">
        |
        <a :href="`${basePath}/datenschutz`" alt="Datenschutz"
          >Datenschutz</a
        ></span
      >
      <span v-if="contact">
        | <a :href="`${basePath}/kontakt`" alt="Kontakt">Kontakt</a></span
      >
    </div>
  </div>
</template>

<style lang="css" scoped>
.footer {
  text-align: center;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import { productName, name } from "./../../../package.json";

export default defineComponent({
  name: "Footer",
  props: {
    impress: { type: Boolean, default: true },
    privacy: { type: Boolean, default: true },
    contact: { type: Boolean, default: true },
    copyright: { type: Boolean, default: true },
    useBasePath: { type: Boolean, default: false },
  },
  data() {
    return {
      year: new Date().getFullYear(),
      productName: productName,
      basePath: `/${name}`,
    };
  },
  methods: {},
  mounted() {
    if (!this.useBasePath) this.basePath = "";
  },
});
</script>
