<script setup lang="ts">
import { usePageFrontmatter } from "@vuepress/client";
import { isArray } from "@vuepress/shared";
import { computed } from "vue";
import type { DefaultThemePageFrontmatter } from "@vuepress/theme-default/lib/shared/index.js";

export interface DefaultThemeHomePageFrontmatter
  extends DefaultThemePageFrontmatter {
  home: true;
  heroImage?: string;
  heroImageDark?: string;
  heroAlt?: string;
  heroHeight?: number;
  heroText?: string | null;
  tagline?: string | null;
  actions?: {
    text: string;
    link: string;
    type?: "primary" | "secondary";
  }[];
  features?: {
    title: string;
    details: string;
    html: string;
    phone: string;
    mail: string;
    link: string;
    mobil: string;
    address: string;
  }[];
  footer?: string;
  footerHtml?: boolean;
}

const frontmatter = usePageFrontmatter<DefaultThemeHomePageFrontmatter>();
const features = computed(() => {
  if (isArray(frontmatter.value.features)) {
    return frontmatter.value.features;
  }
  return [];
});
</script>

<template>
  <div v-if="features.length" class="features">
    <div v-for="feature in features" :key="feature.title" class="feature">
      <h2>{{ feature.title }}</h2>
      <div v-if="feature.address">
        <span>
          <i class="bi bi-geo-alt"></i>&nbsp;<a
            :href="`https://www.google.de/maps/place/${feature.address}`"
            target="_blank"
            >{{ feature.address }}</a
          ></span
        >
      </div>
      <div v-if="feature.phone">
        <span
          ><i class="bi bi-telephone"></i>&nbsp;
          <a :href="`tel:${feature.phone.replace(/[\/\s-]/g, '')}`">{{
            feature.phone
          }}</a></span
        >
      </div>
      <div v-if="feature.mobil">
        <span
          ><i class="bi bi-phone"></i>&nbsp;
          <a :href="`tel:${feature.mobil.replace(/[\/\s-]/g, '')}`">{{
            feature.mobil
          }}</a></span
        >
      </div>
      <div v-if="feature.mail">
        <span
          ><i class="bi bi-envelope"></i>&nbsp;
          <a :href="`mailto:${feature.mail}`">{{ feature.mail }}</a></span
        >
      </div>
      <div v-if="feature.link">
        <a :href="feature.link">{{ feature.link }}</a
        >{{ feature.link }}
      </div>
      <div v-if="feature.instagram">
        <span><a :href="feature.instagram" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></span>
      </div>
      <div v-if="feature.facebook">
        <span><a :href="feature.facebook" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></span>
      </div>
      <div v-if="feature.details" v-html="feature.details"></div>
    </div>
  </div>
</template>
