<script setup lang="ts">
import AutoLink from "@vuepress/theme-default/lib/client/components/AutoLink.vue";
import {
  ClientOnly,
  usePageFrontmatter,
  useSiteLocaleData,
  withBase,
} from "@vuepress/client";
import { isArray } from "@vuepress/shared";
import type { FunctionalComponent } from "vue";
import { computed, h } from "vue";
import type { DefaultThemeHomePageFrontmatter } from "@vuepress/theme-default/lib/shared/index.js";
import { useDarkMode } from "@vuepress/theme-default/lib/client/composables/index.js";

const frontmatter = usePageFrontmatter<DefaultThemeHomePageFrontmatter>();
const siteLocale = useSiteLocaleData();
const isDarkMode = useDarkMode();

const heroImage = computed(() => {
  if (isDarkMode.value && frontmatter.value.heroImageDark !== undefined) {
    return frontmatter.value.heroImageDark;
  }
  return frontmatter.value.heroImage;
});
const heroAlt = computed(
  () => frontmatter.value.heroAlt || heroText.value || "hero"
);
const heroHeight = computed(() => frontmatter.value.heroHeight || 280);

const heroText = computed(() => {
  if (frontmatter.value.heroText === null) {
    return null;
  }
  return frontmatter.value.heroText || siteLocale.value.title || "Hello";
});

const tagline = computed(() => {
  if (frontmatter.value.tagline === null) {
    return null;
  }
  return (
    frontmatter.value.tagline ||
    siteLocale.value.description ||
    "Welcome to your VuePress site"
  );
});

const actions = computed(() => {
  if (!isArray(frontmatter.value.actions)) {
    return [];
  }

  return frontmatter.value.actions.map(({ text, link, type = "primary" }) => ({
    text,
    link,
    type,
  }));
});

// const HomeHeroImage: FunctionalComponent = () => {
//   if (!heroImage.value) return null;
//   const img = h("img", {
//     src: withBase(heroImage.value),
//     alt: heroAlt.value,
//     height: heroHeight.value
//   });
//   if (frontmatter.value.heroImageDark === undefined) {
//     return img;
//   }
//   // wrap hero image with <ClientOnly> to avoid ssr-mismatch
//   // when using a different hero image in dark mode
//   return h(ClientOnly, () => img);
// };

const heroImageStyle = computed(() => {
  if (!heroImage.value) return "";
  return `background: center / 100% url(${withBase(heroImage.value)}) no-repeat; padding: 1.5rem; margin: 0 -1.5rem; margin-bottom: -2.5rem;`;
});

</script>

<template>
  <header class="hero" :style="heroImageStyle">

    <h1 v-if="heroText" id="main-title">
      {{ heroText }}
    </h1>

    <p v-if="tagline" class="description">
      {{ tagline }}
    </p>

    <p v-if="actions.length" class="actions">
      <AutoLink
        v-for="action in actions"
        :key="action.text"
        class="action-button"
        :class="[action.type]"
        :item="action"
      />
    </p>
  </header>
</template>

<style scoped>
#main-title, .description {
  background-color: rgba(255,255,255,0.5);
}
html.dark #main-title, html.dark .description {
  color: #2c3e50;
}
</style>