<script setup lang="ts">
import HomeContent from '@vuepress/theme-default/lib/client/components/HomeContent.vue'
import HomeFeatures from './HomeFeatures.vue'
import HomeFooter from './Footer.vue'
import HomeHero from './HomeHero.vue'
</script>

<template>
  <main class="home">
    <HomeHero />
    <HomeFeatures />
    <HomeContent />
    <HomeFooter />
  </main>
</template>
