<template>
  <div class="formular">
    <label>Betreff</label>
    <input
      class="form-control"
      id="subject"
      name="subject"
      type="text"
      ref="subject"
      placeholder="Betreff"
      v-model="subjectValue"
    /><br />
    <label>Nachricht</label>
    <textarea
      class="form-control"
      id="message"
      name="message"
      rows="7"
      ref="body"
      placeholder="Nachricht"
    ></textarea
    ><br />
    <div class="button-wrapper">
      <button @click="submit" id="sendMessageButton">
        Nachricht als E-Mail abschicken
      </button>
    </div>
  </div>
</template>

<style lang="css" scoped>
.formular label {
  width: 215px;
  display: inline-block;
  vertical-align: top;
}
.formular input,
.formular textarea {
  width: 290px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px 0;
}
.formular button {
  width: 310px;
  height: 45px;
  color: #666;
  margin-top: 10px;
}
.formular .button-wrapper {
  text-align: center;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Formular",
  props: {
    to: {
      type: String,
      default: () => {
        return null;
      },
    },
    subject: {
      type: String,
      default: () => {
        return "Anfrage auf Webseite";
      },
    },
  },
  data() {
    return {
      subjectValue: this.subject,
    };
  },
  methods: {
    submit() {
      const body = this.$refs.body?.value;
      if (this.to == null) alert("Keine Empfänger Mail Adresse angegeben!");
      else if (body === "") alert("Bitte eine Textnachricht angeben!");
      else
        window.open(
          `mailto:${this.to}?subject=${this.subjectValue}&body=${body}`,
          "_blank"
        );
    },
  },
  mounted() {},
});
</script>
